In [22]:
import pandas as pd
import pycountry

Load excel and read specific sheet.

In [23]:
excel_file = pd.ExcelFile('../datasets/IEA_EDGAR_CO2_1970_2023.xlsx', engine='openpyxl')
data = pd.read_excel(excel_file, sheet_name='IPCC 2006')

Drop rows containing metadata and unnecassary columns.

In [24]:
data = data.drop(index=range(9))
data = data.drop(['Content:', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7'], axis=1)

Rename columns to more meaningful names.

In [25]:
column_names = {
    'Emissions by country and main source category': 'continental region',
    'Unnamed: 2': 'country_code',
    'Unnamed: 3': 'country_name',
    'Unnamed: 5': 'sector'
}

column_names_years = {f'Unnamed: {i}': i + 1962 for i in range(8, 62)}
column_names = column_names | column_names_years

data.rename(columns=column_names, inplace=True)
data.head()

,continental region,country_code,country_name,sector,1970,1971,1972,1973,1974,1975,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
9,Rest Central America,ABW,Aruba,Main Activity Electricity and Heat Production,17.343706,19.877523,29.330046,31.21418,30.114787,43.025369,...,222.238026,230.102165,240.807934,223.432549,226.341226,268.030985,232.923266,253.01031,251.278359,263.50657
10,Rest Central America,ABW,Aruba,Manufacturing Industries and Construction,0.193087,0.221296,0.279981,0.260094,0.323792,0.39553,...,22.208463,24.215383,21.728011,33.276726,28.199275,29.319799,26.562462,34.208633,33.974462,35.627795
11,Rest Central America,ABW,Aruba,Civil Aviation,0.754306,0.864505,0.511096,0.603384,0.83483,0.849693,...,18.429354,18.900723,18.986393,19.690313,16.58486,25.492941,11.216762,12.473237,17.61512,20.659366
12,Rest Central America,ABW,Aruba,Road Transportation no resuspension,1.04072,1.192764,1.360877,1.700968,2.126094,3.406416,...,126.415252,135.23878,140.177105,135.429729,136.224966,165.125521,128.398393,143.107436,142.127812,149.04432
13,Rest Central America,ABW,Aruba,Water-borne Navigation,NaN,NaN,NaN,NaN,NaN,NaN,...,9.191439,9.637073,10.209681,9.763253,9.615795,11.382993,9.866186,10.696811,10.876347,12.16022

In [32]:

missing_sectors = data[data['sector'].isnull()]
print("Rows with missing sectors:", missing_sectors)

Rows with missing sectors: Empty DataFrame
Columns: [continental region, country_code, country_name, sector, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Index: []

[0 rows x 58 columns]

In [27]:
def alpha3_to_alpha2(alpha3_code):
    try:
        country = pycountry.countries.get(alpha_3=alpha3_code)
        return country.alpha_2 if country else None
    except AttributeError:
        return None

# Convert column
data['country_code'] = data['country_code'].apply(alpha3_to_alpha2)

Save cleaned data.

In [28]:
data.to_csv('../datasets/IEA_EDGAR_CO2_1970_2023_cleaned.csv', index=False)